@model ForgotPasswordViewModel

<script type="text/javascript">
    toastr.options =
        {
            timeOut: 3000,
            closeButton: true
        }
    function ValidateUser() {
        var userName = $("#Email").val();

        if (userName.trim() == "") {
            $("#Email").addClass("border-danger");
            toastr.error('Please enter email address');
            document.getElementById("Email").focus();
            DisableButon();
            return false;
        }
        //else if (userName.trim() != "")
        //{
        //    var emailPattern = new RegExp(/^([\w\.\-]+)@@([\w\-]+)((\.(\w){2,3})+)$/);

        //    if (!emailPattern.test(userName.trim()))
        //    {
        //        $("#Email").addClass("border-danger");
        //        toastr.error('Please enter valid email address');
        //        document.getElementById("Email").focus();
        //        DisableButon();
        //        return false;
        //    }
        //}
        return true;
    }
    function DisableButon() {
        $('#btnSendResetLink').prop('disabled', true);
        setTimeout(function () {
            $('#btnSendResetLink').prop('disabled', false);
        }, 4000);
    }
</script>

<section class="position-relative w-100 bg-body flex-grow-1 hero-container">
    <div class="right-top-img w-100 position-absolute"></div>
    <section class="d-flex justify-content-center align-items-center h-100">
        <section class="box-container bg-white rounded shadow-sm w-100 mx-4 d-flex justify-content-center flex-column p-4">
            <header class="d-flex w-100">
                <a href="@ViewData["AngularHomeUrl"]" class="pr-2 position-relative arrow-position">
                    <img src="~/images/trigger-sign-in-logo.png" class="mb-3" alt="truvelop" title="Truvelop">
                </a>
            </header>
            <section class="position-relative hero-content-container">
                <section class="text-center d-flex justify-content-center align-items-center flex-column">
                    <form asp-controller="Account" asp-action="ForgotPassword" method="post" autocomplete="off">
                        <div class="success-head-text">Reset Password</div>
                        <div class="regular-text my-4">
                            You can reset your password by providing your Email Address
                        </div>
                        <input asp-for="Email" class="form-control rounded mb-3 mx-auto" autofocus maxlength="60" onkeypress="return AvoidSpace(event)" onpaste="return RemoveSpace(this)" placeholder="Enter Email" autocomplete="off">
                        <button type="submit" title="Submit" id="btnSendResetLink" onclick="JavaScript: return ValidateUser()"
                                class="btn btn-login text-uppercase text-center my-4">
                            submit
                        </button>
                        @if (ViewBag.Message != null)
                        {
                            <script type="text/javascript">
                                        window.onload = function ()
                                        {
                                            toastr.success("@ViewBag.Message");
                                            return false;
                                        };
                            </script>
                        }
                        @if (ViewBag.ErrorMessage != null)
                        {
                            <script type="text/javascript">
                                        window.onload = function ()
                                        {
                                            toastr.error("@ViewBag.ErrorMessage");
                                            return false;
                                        };
                            </script>
                        }
                        <section class="text-center bottom-margin pr-2">
                            <a href="@ViewData["AuthUrl"]" title="Return to Login" class="font-md">Return to Login</a>
                        </section>
                    </form>
                </section>
                <footer class="text-center">
                    <div class="position-absolute footer"> © Truvelop. All rights reserved @DateTime.Now.Year</div>
                </footer>
            </section>
        </section>
    </section>
    <div class="left-bottom-img"></div>
</section>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
